@model Practice.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Register";
}

<link href="~/css/theme.css" rel="stylesheet" />
<div class="d-flex justify-content-center">
    <div class="text-center">
        <h1 class="fw-bolder display-2 text-teal d-block">Registration success!</h1>
        <h4 class="fw-light text-dark mt-4 d-block">You can now use your account to login</h4>
    </div>
</div>