@{
    Layout = "_Layout";
}

<link href="~/css/settings.css" rel="stylesheet" />
<div class="d-flex w-100">
    <div class="d-flex flex-column w-10 bg-light text-light me-5 pt-4">
        @*Navs*@
        <a href="#" class="btn btn-outline-dark rounded-0 border-0 w-100">Account</a>
    </div>
    <div class="flex-grow-1 mt-5 ms-3">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}