@model Practice.ViewModels.LoginViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<div class="d-flex flex-column flex-grow-1 justify-content-center">
    <div class="d-flex pad-s">
        <div class="d-flex flex-column">
            <h1 class="fw-normal text-start mt-3 mb-4">Login</h1>
            <form class="custom-width" asp-controller="Login" asp-action="Authenticate">
                <div class="text-start mb-3">
                    @if (Model?.PageError != null) {
                        <p class="text-danger">
                            @Model?.PageError
                        </p>
                    }
                    else if (Model?.SuccessMessage != null)
                    {
                        <p class="text-success">
                            @Model?.SuccessMessage
                        </p>
                    }
                </div>
                <input class="d-block w-100" asp-for="User!.Username" type="text" placeholder="Username"/>
                <p class="text-start text-danger mb-3">
                    @Model?.UsernameError
                </p>
                <input class="d-block w-100" asp-for="User!.Password" type="password" placeholder="Password"/>
                <p class="text-start text-danger mb-2">
                    @Model?.PasswordError
                </p>
                <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" id="rememberPwd" asp-for="RememberUser">
                    <label class="form-check-label" for="rememberPwd">
                        Remember me
                    </label>
                </div>
                <input class="btn btn-primary d-block mb-3 w-100" type="submit" value="Login"/>
            </form>
        </div>
        <div class="flex-grow-1"></div>
    </div>
</div>