.avatar {
    width: 200px;
    height: 200px;
}

.textonly-input {
    background-color: transparent;
    border: 0;
}

.background {
    background-image: url(/images/nature-bg.jpg);
    background-size: cover;
}