html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.custom-width {
    width: 259px;
}

.pop {
    z-index: 1060;
}

.m-footer {
    height: 60px;
}

.pad-s {
    padding-left: 125px;
}

.pad-e {
    padding-right: 130px;
}

.pad-footer {
    padding-bottom: 60px;
}

.fixed-line-24 {
    min-height: 24px;
}

.number-box {
    width: 75px;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

div ul, ol {
    list-style: none;
    margin-block-start: 0;
    margin-inline-start: 0;
    padding-left: 0;
}